.climate-stats {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 150px;
}

.climate-stats > * {
    margin: 10px 0;
}
